* {
    margin: 0;
    padding: 0;
}
main {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: wheat;
}
body{
    background-color: wheat !important;
}
p {
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.options {
    display: flex;
    justify-content: space-between;
    margin: 3em 1em;
}
.BttnOp {
    height: 2em !important;
    width: 2em !important;
    font-size: 2em !important;
    border:0;
    border-radius:.25em;
    background:initial;
    background-color:#7066e0;
    color:#fff;
}
#letra {
    font-size: 4.5rem !important;
}
